name: CI

on:
  push:
    branches: [dev]
  pull_request:
    branches: [master, dev]

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:10
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: groupher_server_test
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v2
      - uses: wagoid/commitlint-github-action@v2
        inputs:
          configFile: .commitlintrc.js
      - name: Set up Elixir and OTP
        uses: actions/setup-elixir@v1
        with:
          elixir-version: "1.10.3" # Define the elixir version [required]
          otp-version: "22.3" # Define the OTP version [required]
      - name: Restore dependencies cache
        uses: actions/cache@v2
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ runner.os }}-mix-
      - name: deps.get
        run: mix deps.get
      - name: refresh coveralls
        run: MIX_ENV=test mix compile --warnings-as-errors, coveralls.json
      - name: Run tests
        run: mix test
      - name: report to inch platform
        run: MIX_ENV=test mix inch.report
